/* Custom Scrollbar using CSS */
.custom-scrollbar {
    overflow-y: scroll;
  }
  
  /* scrollbar width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  /* scrollbar track */
  /* .custom-scrollbar::-webkit-scrollbar-track {
    background: #eee;
  } */
  
  /* scrollbar handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #00d2ff;
  }